Django==5.2.8
asgiref==3.11.0
sqlparse==0.5.3
tzdata==2025.2
PyMySQL==1.2.0
python-dotenv==1.2.1
requests==2.32.5
certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
urllib3==2.5.0
whitenoise==6.9.0
gunicorn==23.0.0
django-admin-menu
django-modeladmin-reorder
django-parler
django-parler-rest
django-smart-selects
django-import-export
django-admin-list-filter-dropdown
django-crispy-forms
django-admin-autocomplete-filter
djangorestframework
django-rest-swagger
djangorestframework-simplejwt
data-wizard
msal
Pillow
pandas
django-pandas
numpy
scipy
matplotlib
seaborn
statsmodels
fuzzywuzzy
python-Levenshtein
xlrd
tablib[all]
django-storages[azure]
SQLAlchemy
