Django>2.2,<=3.0.14 #checkout azure supported version
django-import-export
djangorestframework
djangorestframework-simplejwt
django-admin-list-filter-dropdown==1.0.3 # to be replaced by line 6
django-admin-autocomplete-filter<=0.7.1 # to replace line 
django-rest-swagger==2.2.0
django-parler
django-parler-rest
django-modeladmin-reorder
django-bootstrap-datepicker-plus==3.0.5
django-smart-selects<=1.5.9
django-storages[azure]
django-admin-menu<=1.5 #checkout stable version
django-crispy-forms==1.14.0
# data-wizard<2.0.0 # verson 2.0.0 user conflicts with home user inheritance
git+https://github.com/ahoazure/aho_data_import_wizard.git@main # translated into fr and pt
msal<=1.9.0 #library needed for OIDC
mysqlclient<=2.0.1
Pillow>=6.0.0
python-dotenv<=0.17.1
pytz>=2018.5
tablib[all]
whitenoise
xlrd==2.0.1 #upgraded xlrd to support pandas excel reading to_excel

# data science and form packages
fuzzywuzzy # string matching algorithm
python-Levenshtein # helper lib for fuzzywuz
pandas==2.0.0
matplotlib==3.5.3
numpy==1.23.2
django-pandas==0.6.6
seaborn==0.11.2
scipy==1.9.0
django-crispy-forms==1.14.0
SQLAlchemy<=1.4.40
statsmodels<=0.13.2
